body {
    background: rgb(18,17,28);
    background: linear-gradient(90deg, rgba(18,17,28,1) 0%, rgba(93,93,232,1) 34%, rgba(130,234,255,1) 100%);
}

.image{
    display:flex;
    border: 5px solid green;
    background-color: rgb(254, 254, 254);
}

.image{
    border: 2px solid #454444;
    border-radius: 10px;
    height: 650px;
    margin:0 auto;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
<<<<<<< HEAD
}
a {
    text-decoration:none;
    color:black;
}
a:visited {
    color:black;
}
a:active{
    color:blue;
}

h1 {
    font-family: Georgia, serif;
    font-size: 80px;
    text-align: center;
}

h2 {
    font-family: Georgia, serif;
    font-size: 50px;
    text-align: center;
}

p {
    font-family: system-ui;;
    font-size: 30px;
    text-align: center;
}
=======
    width: 100px; 
    height: 50px; 
    font-size: 20px;
} 

>>>>>>> origin/brunomoreira-
